.tabs-show{
  .tabs{
    div{
      overflow: hidden;
      text-align: center;
    }
    .tab-content{
      text-align: left;
      width: 1000px;
      margin: 0 auto;
      div{
        text-align: left;
      }
      .alert-info{
        background: #fff;
        border-color: #ddd;
        color: #333;
        p{
          display: inline-block;
          margin-left: 7px;
        }
      }
    }
  }
  .nav-tabs{
    border: none;
    display: inline-flex !important;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    .nav-item{
      width: 500px;
      a{
        border: none;
        color: #000;
      }
      &:first-child{
        a{
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}
.list-ctn{
  .list-item{
    width: 100%;
    overflow: hidden;
    .item-image{
      width: 30%;
      float: left;
      img{
        width: 100%;
      }
    }
    .item-info{
      float: left;
      width: 70%;
      .info-product{
        padding: 15px;
        background: #fff;
        .title{
          margin-bottom: 15px;
          svg{
            width: 20px;
          }
          span{
            font-size: 13px;
             color: #666;
          }
        }
        h3{
          font-size: 16px;
          font-weight: bold;
        }
        .address{
          font-size: 13px;
          color: #666;
        }
        .location{
          font-size: 13px;
          color: #666;
          svg{
            width: 15px;
            color: #ff9800;
          }
        }
        .chips{
          font-weight: normal;
          .badge{
            font-weight: normal;
          }
        }
      }
      .info-price{
        background: #f8f8f8f8;
        padding: 15px;
        overflow: hidden;
        h3{
          color: green;
          font-size: 16px;
        }
        .price-review{
          width: 100%;
          p{
            width: 60%;
            float: left;
            margin: 0;
            font-size: 13px;
            strong{
              font-size: 22px;
            }
          }
          .ratings{
            width: 40%;
            float: right;
            text-align: right;
            svg{
              width: 20px;
              height: 20px;
            }
            .vue-star-rating-rating-text{
              display: none;
            }
            .vue-star-rating{
              display: inline-block;
            }
          }
        }
      }
    }
  }
}